<?xml version="1.0"?>
<config>
  <modules>
    <Mac_Categoryattribute>
      <version>0.1.2</version>
    </Mac_Categoryattribute>
  </modules>
  <global>
    <helpers>
      <categoryattribute>
        <class>Mac_Categoryattribute_Helper</class>
      </categoryattribute>
    </helpers>
	<models>
	  <categoryattribute>
		<class>Mac_Categoryattribute_Model</class>
		<resourceModel>categoryattribute_mysql4</resourceModel>
	  </categoryattribute>
	</models>
	<resources>
	  <categoryattribute1370499281_setup>
		<setup>
		  <module>Mac_Categoryattribute</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1370499281_setup>
	  <categoryattribute1370499281_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1370499281_write>
	  <categoryattribute1370499281_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1370499281_read>
	</resources>
  </global>
</config> 