<?xml version="1.0"?>
<config>
  <modules>
    <Mac_Customeraddress>
      <version>0.1.0</version>
    </Mac_Customeraddress>
  </modules>
  <global>
    <helpers>
      <customeraddress>
        <class>Mac_Customeraddress_Helper</class>
      </customeraddress>
    </helpers>
	<models>
	  <customeraddress>
		<class>Mac_Customeraddress_Model</class>
		<resourceModel>customeraddress_mysql4</resourceModel>
	  </customeraddress>
	  <customeraddress_mysql4>
		<class>Mac_Customeraddress_Model_Mysql4</class>
		<entities>		  
			  <findaddress>
				<table>findaddress</table>
			  </findaddress>
        </entities>
	  </customeraddress_mysql4>
	</models>
	<resources>
	  <customeraddress_setup>
		<setup>
		  <module>Mac_Customeraddress</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customeraddress_setup>
	  <customeraddress_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customeraddress_write>
	  <customeraddress_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customeraddress_read>
	</resources>
  </global>
</config> 