<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Categoryshowattribute>
      <version>0.1.0</version>
    </Iksula_Categoryshowattribute>
  </modules>
  <global>
    <helpers>
      <categoryshowattribute>
        <class>Iksula_Categoryshowattribute_Helper</class>
      </categoryshowattribute>
    </helpers>
	<models>
	  <categoryshowattribute>
		<class>Iksula_Categoryshowattribute_Model</class>
		<resourceModel>categoryshowattribute_mysql4</resourceModel>
	  </categoryshowattribute>
	</models>
	<resources>
	  <categoryattribute1395728058_setup>
		<setup>
		  <module>Iksula_Categoryshowattribute</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1395728058_setup>
	  <categoryattribute1395728058_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1395728058_write>
	  <categoryattribute1395728058_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1395728058_read>
	</resources>
  </global>
</config> 