<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Paymentinfo>
      <version>0.1.0</version>
    </Iksula_Paymentinfo>
  </modules>
  <global>
    <helpers>
      <paymentinfo>
        <class>Iksula_Paymentinfo_Helper</class>
      </paymentinfo>
    </helpers>
	<blocks>
	  <paymentinfo>
		<class>Iksula_Paymentinfo_Block</class>
	  </paymentinfo>
	</blocks>
	<models>
	  <paymentinfo>
		<class>Iksula_Paymentinfo_Model</class>
		<resourceModel>paymentinfo_mysql4</resourceModel>
	  </paymentinfo>
	  <paymentinfo_mysql4>
		<class>Iksula_Paymentinfo_Model_Mysql4</class>
		<entities>		  
			  <paymentinfo>
				<table>paymentinfo</table>
			  </paymentinfo>
        </entities>
	  </paymentinfo_mysql4>
	</models>
	<resources>
	  <paymentinfo_setup>
		<setup>
		  <module>Iksula_Paymentinfo</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </paymentinfo_setup>
	  <paymentinfo_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </paymentinfo_write>
	  <paymentinfo_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </paymentinfo_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <paymentinfo>
	    <use>admin</use>
		<args>
		  <module>Iksula_Paymentinfo</module>
		  <frontName>paymentinfo</frontName>
		</args>
	  </paymentinfo>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <paymentinfo module="paymentinfo">
		<title>Paymentinfo</title>
		<sort_order>100</sort_order>
		<children>
		  <paymentinfo module="paymentinfo">
		    <title>Manage Paymentinfo</title>
			<sort_order>20</sort_order>
			<action>paymentinfo/adminhtml_paymentinfo</action>
		  </paymentinfo>
		</children>
	  </paymentinfo>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<paymentinfo translate="title" module="paymentinfo">
			  <title>Paymentinfo</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <paymentinfo translate="title">
			<title>Manage Paymentinfo</title>
			<sort_order>20</sort_order>
		  </paymentinfo>
			  </children>
			</paymentinfo>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<paymentinfo>
		  <file>paymentinfo.xml</file>
		</paymentinfo>
	  </updates>
	</layout>
  </adminhtml>
</config> 