<?xml version="1.0"?>
<config>
  <modules>
    <Mac_Landingpage>
      <version>0.1.0</version>
    </Mac_Landingpage>
  </modules>
  <frontend>
    <routers>
      <landingpage>
        <use>standard</use>
          <args>
            <module>Mac_Landingpage</module>
            <frontName>landingpage</frontName>
          </args>
      </landingpage>
    </routers>
		<layout>
		  <updates>
			<landingpage>
			  <file>landingpage.xml</file>
			</landingpage>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <landingpage>
        <class>Mac_Landingpage_Helper</class>
      </landingpage>
    </helpers>
	<blocks>
	  <landingpage>
		<class>Mac_Landingpage_Block</class>
	  </landingpage>
	</blocks>
	<models>
	  <landingpage>
		<class>Mac_Landingpage_Model</class>
		<resourceModel>landingpage_mysql4</resourceModel>
	  </landingpage>
	  <landingpage_mysql4>
		<class>Mac_Landingpage_Model_Mysql4</class>
		<entities>		  
			  <man>
				<table>man</table>
			  </man>
        </entities>
	  </landingpage_mysql4>
	</models>
	<resources>
	  <landingpage_setup>
		<setup>
		  <module>Mac_Landingpage</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </landingpage_setup>
	  <landingpage_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </landingpage_write>
	  <landingpage_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </landingpage_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <landingpage>
	    <use>admin</use>
		<args>
		  <module>Mac_Landingpage</module>
		  <frontName>landingpage</frontName>
		</args>
	  </landingpage>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	 <!--  <landingpage module="landingpage">
		<title>Landingpage</title>
		<sort_order>100</sort_order>
		<children>
		  <man module="landingpage">
		    <title>Manage Man</title>
			<sort_order>0</sort_order>
			<action>landingpage/adminhtml_man</action>
		  </man>
		</children>
	  </landingpage> -->
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<landingpage translate="title" module="landingpage">
			  <title>Landingpage</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <man translate="title">
			<title>Manage Man</title>
			<sort_order>0</sort_order>
		  </man>
			  </children>
			</landingpage>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<landingpage>
		  <file>landingpage.xml</file>
		</landingpage>
	  </updates>
	</layout>
  </adminhtml>
</config> 