<?xml version="1.0"?>
<config>
  <modules>
    <Mac_Gamechanger>
      <version>0.1.0</version>
    </Mac_Gamechanger>
  </modules>
  <frontend>
    <routers>
      <gamechanger>
        <use>standard</use>
          <args>
            <module>Mac_Gamechanger</module>
            <frontName>gamechanger</frontName>
          </args>
      </gamechanger>
    </routers>
		<layout>
		  <updates>
			<gamechanger>
			  <file>gamechanger.xml</file>
			</gamechanger>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <gamechanger>
        <class>Mac_Gamechanger_Helper</class>
      </gamechanger>
    </helpers>
	<blocks>
	  <gamechanger>
		<class>Mac_Gamechanger_Block</class>
	  </gamechanger>
	</blocks>
	<models>
	  <gamechanger>
		<class>Mac_Gamechanger_Model</class>
		<resourceModel>gamechanger_mysql4</resourceModel>
	  </gamechanger>
	  <gamechanger_mysql4>
		<class>Mac_Gamechanger_Model_Mysql4</class>
		<entities>		  
			  <gamechanger>
				<table>gamechanger</table>
			  </gamechanger>
        </entities>
	  </gamechanger_mysql4>
	</models>
	<resources>
	  <gamechanger_setup>
		<setup>
		  <module>Mac_Gamechanger</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </gamechanger_setup>
	  <gamechanger_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </gamechanger_write>
	  <gamechanger_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </gamechanger_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <gamechanger>
	    <use>admin</use>
		<args>
		  <module>Mac_Gamechanger</module>
		  <frontName>gamechanger</frontName>
		</args>
	  </gamechanger>
	</routers>
  </admin>
  <adminhtml>
	<menu>
<!-- 	  <gamechanger module="gamechanger">
		<title>Gamechanger</title>
		<sort_order>100</sort_order>
		<children>
		  <gamechanger module="gamechanger">
		    <title>Manage Gamechanger</title>
			<sort_order>0</sort_order>
			<action>gamechanger/adminhtml_gamechanger</action>
		  </gamechanger>
		</children>
	  </gamechanger> -->
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<gamechanger translate="title" module="gamechanger">
			  <title>Gamechanger</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <gamechanger translate="title">
			<title>Manage Gamechanger</title>
			<sort_order>0</sort_order>
		  </gamechanger>
			  </children>
			</gamechanger>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<gamechanger>
		  <file>gamechanger.xml</file>
		</gamechanger>
	  </updates>
	</layout>
  </adminhtml>
</config> 