<?xml version="1.0"?>
<config>
  <modules>
    <Fcuk_Subscription>
      <version>0.1.0</version>
    </Fcuk_Subscription>
  </modules>
  <frontend>
    <routers>
      <subscription>
        <use>standard</use>
          <args>
            <module>Fcuk_Subscription</module>
            <frontName>subscription</frontName>
          </args>
      </subscription>
    </routers>
		<layout>
		  <updates>
			<subscription>
			  <file>subscription.xml</file>
			</subscription>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <subscription>
        <class>Fcuk_Subscription_Helper</class>
      </subscription>
    </helpers>
	<blocks>
	  <subscription>
		<class>Fcuk_Subscription_Block</class>
	  </subscription>
	</blocks>
	<models>
	  <subscription>
		<class>Fcuk_Subscription_Model</class>
		<resourceModel>subscription_mysql4</resourceModel>
	  </subscription>
	  <subscription_mysql4>
		<class>Fcuk_Subscription_Model_Mysql4</class>
		<entities>		  
			  <subscription>
				<table>subscription</table>
			  </subscription>
        </entities>
	  </subscription_mysql4>
	</models>
	<resources>
	  <subscription_setup>
		<setup>
		  <module>Fcuk_Subscription</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </subscription_setup>
	  <subscription_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </subscription_write>
	  <subscription_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </subscription_read>
	</resources>
	<events>
<!-- 	    
       <customer_logout>
        <observers>
            <inventory>
                <class>subscription/observer</class>
                <method>orderpricevalue</method>
            </inventory>
        </observers>
      </customer_logout>     -->
    </events>  
  </global>
  <admin>
	<routers>
	  <subscription>
	    <use>admin</use>
		<args>
		  <module>Fcuk_Subscription</module>
		  <frontName>subscription</frontName>
		</args>
	  </subscription>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <subscription module="subscription">
		<title>Help Us</title>
		<sort_order>100</sort_order>
		<children>
		  <subscription module="subscription">
		    <title>Manage Help Us</title>
			<sort_order>10</sort_order>
			<action>subscription/adminhtml_subscription</action>
		  </subscription>
		</children>
	  </subscription>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<subscription translate="title" module="subscription">
			  <title>Help Us</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <subscription translate="title">
			<title>Manage Help Us</title>
			<sort_order>10</sort_order>
		  </subscription>
			  </children>
			</subscription>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<subscription>
		  <file>subscription.xml</file>
		</subscription>
	  </updates>
	</layout>
  </adminhtml>
</config> 