<?xml version="1.0"?>
<config>
    <modules>
        <Fcuk_Outwardregister>
            <version>0.1.0</version>
        </Fcuk_Outwardregister>
    </modules>
    <frontend>
        <routers>
            <outwardregister>
                <use>standard</use>
                <args>
                    <module>Fcuk_Outwardregister</module>
                    <frontName>outwardregister</frontName>
                </args>
            </outwardregister>
        </routers>
        <layout>
            <updates>
                <outwardregister>
                    <file>outwardregister.xml</file>
                </outwardregister>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<outwardregister>
				<use>admin</use>
				<args>
					<module>Fcuk_Outwardregister</module>
					<frontName>outwardregister</frontName>
				</args>
			</outwardregister>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<outwardregister module="outwardregister">
				<title>Outwardregister</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="outwardregister">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>outwardregister/adminhtml_outwardregister</action>
					</items>
					<outwardreport module="outwardregister" translate="title">
                    <title>Outward Report</title>
                    <sort_order>2</sort_order>
                    <action>outwardregister/adminhtml_outwardregister/outwardreport</action>
                </outwardreport>
				</children>
			</outwardregister>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Fcuk_Outwardregister>
							<title>Outwardregister Module</title>
							<sort_order>10</sort_order>
						</Fcuk_Outwardregister>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<outwardregister>
					<file>outwardregister.xml</file>
				</outwardregister>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <outwardregister>
                <class>Fcuk_Outwardregister_Model</class>
                <resourceModel>outwardregister_mysql4</resourceModel>
            </outwardregister>
            <outwardregister_mysql4>
                <class>Fcuk_Outwardregister_Model_Mysql4</class>
                <entities>
                    <outwardregister>
                        <table>outwardregister</table>
                    </outwardregister>
                </entities>
            </outwardregister_mysql4>
        </models>
        <resources>
            <outwardregister_setup>
                <setup>
                    <module>Fcuk_Outwardregister</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </outwardregister_setup>
            <outwardregister_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </outwardregister_write>
            <outwardregister_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </outwardregister_read>
        </resources>
        <blocks>
            <outwardregister>
                <class>Fcuk_Outwardregister_Block</class>
            </outwardregister>
        </blocks>
        <helpers>
            <outwardregister>
                <class>Fcuk_Outwardregister_Helper</class>
            </outwardregister>
        </helpers>
    </global>
</config>