<?xml version="1.0"?>
<config>
    <modules>
        <Fcuk_Shippingvalidation>
            <version>0.1.0</version>
        </Fcuk_Shippingvalidation>
    </modules>
    <frontend>
        <routers>
            <shippingvalidation>
                <use>standard</use>
                <args>
                    <module>Fcuk_Shippingvalidation</module>
                    <frontName>shippingvalidation</frontName>
                </args>
            </shippingvalidation>
        </routers>
        <layout>
            <updates>
                <shippingvalidation>
                    <file>shippingvalidation.xml</file>
                </shippingvalidation>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<shippingvalidation>
				<use>admin</use>
				<args>
					<module>Fcuk_Shippingvalidation</module>
					<frontName>shippingvalidation</frontName>
				</args>
			</shippingvalidation>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<shippingvalidation module="shippingvalidation">
				<title>Shippingvalidation</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="shippingvalidation">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>shippingvalidation/adminhtml_shippingvalidation</action>
					</items>
				</children>
			</shippingvalidation>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Fcuk_Shippingvalidation>
							<title>Shippingvalidation Module</title>
							<sort_order>10</sort_order>
						</Fcuk_Shippingvalidation>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<shippingvalidation>
					<file>shippingvalidation.xml</file>
				</shippingvalidation>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <shippingvalidation>
                <class>Fcuk_Shippingvalidation_Model</class>
                <resourceModel>shippingvalidation_mysql4</resourceModel>
            </shippingvalidation>
            <shippingvalidation_mysql4>
                <class>Fcuk_Shippingvalidation_Model_Mysql4</class>
                <entities>
                    <shippingvalidation>
                        <table>shippingvalidation</table>
                    </shippingvalidation>
                </entities>
            </shippingvalidation_mysql4>
        </models>
        <resources>
            <shippingvalidation_setup>
                <setup>
                    <module>Fcuk_Shippingvalidation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shippingvalidation_setup>
            <shippingvalidation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippingvalidation_write>
            <shippingvalidation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippingvalidation_read>
        </resources>
        <blocks>
            <shippingvalidation>
                <class>Fcuk_Shippingvalidation_Block</class>
            </shippingvalidation>
        </blocks>
        <helpers>
            <shippingvalidation>
                <class>Fcuk_Shippingvalidation_Helper</class>
            </shippingvalidation>
        </helpers>
    </global>
</config>