<?xml version="1.0"?>
<config>
    <modules>
        <Fcuk_Inwardregister>
            <version>0.1.0</version>
        </Fcuk_Inwardregister>
    </modules>
    <frontend>
        <routers>
            <inwardregister>
                <use>standard</use>
                <args>
                    <module>Fcuk_Inwardregister</module>
                    <frontName>inwardregister</frontName>
                </args>
            </inwardregister>
        </routers>
        <layout>
            <updates>
                <inwardregister>
                    <file>inwardregister.xml</file>
                </inwardregister>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<inwardregister>
				<use>admin</use>
				<args>
					<module>Fcuk_Inwardregister</module>
					<frontName>inwardregister</frontName>
				</args>
			</inwardregister>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<inwardregister module="inwardregister">
				<title>Inwardregister</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="inwardregister">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>inwardregister/adminhtml_inwardregister</action>
					</items>
					<inwardreport module="inwardregister" translate="title">
                    <title>Inward Report</title>
                    <sort_order>2</sort_order>
                    <action>inwardregister/adminhtml_inwardregister/inwardreport</action>
                </inwardreport>
				</children>
			</inwardregister>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Fcuk_Inwardregister>
							<title>Inwardregister Module</title>
							<sort_order>10</sort_order>
						</Fcuk_Inwardregister>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<inwardregister>
					<file>inwardregister.xml</file>
				</inwardregister>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <inwardregister>
                <class>Fcuk_Inwardregister_Model</class>
                <resourceModel>inwardregister_mysql4</resourceModel>
            </inwardregister>
			<inwardregister_mysql4>
                <class>Fcuk_Inwardregister_Model_Mysql4</class>
                <entities>
                    <inwardregister>
                        <table>inwardregister</table>
                    </inwardregister>
				</entities>
            </inwardregister_mysql4>
        </models>
        <resources>
            <inwardregister_setup>
                <setup>
                    <module>Fcuk_Inwardregister</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inwardregister_setup>
            <inwardregister_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inwardregister_write>
            <inwardregister_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inwardregister_read>
        </resources>
        <blocks>
            <inwardregister>
                <class>Fcuk_Inwardregister_Block</class>
            </inwardregister>
        </blocks>
        <helpers>
            <inwardregister>
                <class>Fcuk_Inwardregister_Helper</class>
            </inwardregister>
        </helpers>
    </global>
</config>