<?xml version="1.0"?>
<config>
  <modules>
    <Fcuk_Content>
      <version>0.1.0</version>
    </Fcuk_Content>
  </modules>
  <frontend>
    <routers>
      <content>
        <use>standard</use>
          <args>
            <module>Fcuk_Content</module>
            <frontName>content</frontName>
          </args>
      </content>
    </routers>
		<layout>
		  <updates>
			<content>
			  <file>content.xml</file>
			</content>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <content>
        <class>Fcuk_Content_Helper</class>
      </content>
    </helpers>
	<blocks>
	  <content>
		<class>Fcuk_Content_Block</class>
	  </content>
	</blocks>
	<models>
	  <content>
		<class>Fcuk_Content_Model</class>
		<resourceModel>content_mysql4</resourceModel>
	  </content>
	  <content_mysql4>
		<class>Fcuk_Content_Model_Mysql4</class>
		<entities>		  
			  <gamechanger>
				<table>gamechangernew</table>
			  </gamechanger>
        </entities>
	  </content_mysql4>
	</models>
	<resources>
	  <content_setup>
		<setup>
		  <module>Fcuk_Content</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </content_setup>
	  <content_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </content_write>
	  <content_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </content_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <content>
	    <use>admin</use>
		<args>
		  <module>Fcuk_Content</module>
		  <frontName>content</frontName>
		</args>
	  </content>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	<!--   <content module="content">
		<title>Content</title>
		<sort_order>100</sort_order>
		<children>
		  <gamechanger module="content">
		    <title>Manage Gamechanger</title>
			<sort_order>0</sort_order>
			<action>content/adminhtml_gamechanger</action>
		  </gamechanger>
		</children>
	  </content> -->
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<content translate="title" module="content">
			  <title>Content</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <gamechanger translate="title">
			<title>Manage Gamechanger</title>
			<sort_order>0</sort_order>
		  </gamechanger>
			  </children>
			</content>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<content>
		  <file>content.xml</file>
		</content>
	  </updates>
	</layout>
  </adminhtml>
</config> 