<?xml version="1.0"?>
<config>
  <modules>
    <SilkSoftware_Superman>
      <version>0.1.0</version>
    </SilkSoftware_Superman>
  </modules>
  <frontend>
    <routers>
      <superman>
        <use>standard</use>
          <args>
            <module>SilkSoftware_Superman</module>
            <frontName>superman</frontName>
          </args>
      </superman>
    </routers>
		<layout>
		  <updates>
			<superman>
			  <file>superman.xml</file>
			</superman>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <superman>
        <class>SilkSoftware_Superman_Helper</class>
      </superman>
    </helpers>
	<blocks>
	  <superman>
		<class>SilkSoftware_Superman_Block</class>
	  </superman>
	</blocks>
	<models>
	  <superman>
		<class>SilkSoftware_Superman_Model</class>
		<resourceModel>superman_mysql4</resourceModel>
	  </superman>
	  <superman_mysql4>
		<class>SilkSoftware_Superman_Model_Mysql4</class>
		<entities>		  
			  <superman>
				<table>superman_customer</table>
			  </superman>
        </entities>
	  </superman_mysql4>
	</models>
	<resources>
	  <superman_setup>
		<setup>
		  <module>SilkSoftware_Superman</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </superman_setup>
	  <superman_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </superman_write>
	  <superman_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </superman_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <superman>
	    <use>admin</use>
		<args>
		  <module>SilkSoftware_Superman</module>
		  <frontName>superman</frontName>
		</args>
	  </superman>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <superman module="superman">
		<title>Superman</title>
		<sort_order>100</sort_order>
		<children>
		  <superman module="superman">
		    <title>Manage Superman</title>
			<sort_order>0</sort_order>
			<action>superman/adminhtml_superman</action>
		  </superman>
		</children>
	  </superman>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<superman translate="title" module="superman">
			  <title>Superman</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <superman translate="title">
			<title>Manage Superman</title>
			<sort_order>0</sort_order>
		  </superman>
			  </children>
			</superman>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<superman>
		  <file>superman.xml</file>
		</superman>
	  </updates>
	</layout>
  </adminhtml>
</config> 