<?xml version="1.0"?>
<config>
  <modules>
    <Fcuk_Shiptrack>
      <version>0.1.0</version>
    </Fcuk_Shiptrack>
  </modules>
  <frontend>
    <routers>
      <shiptrack>
        <use>standard</use>
          <args>
            <module>Fcuk_Shiptrack</module>
            <frontName>shiptrack</frontName>
          </args>
      </shiptrack>
    </routers>
		<layout>
		  <updates>
			<shiptrack>
			  <file>shiptrack.xml</file>
			</shiptrack>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <shiptrack>
        <class>Fcuk_Shiptrack_Helper</class>
      </shiptrack>
    </helpers>
	<blocks>
	  <shiptrack>
		<class>Fcuk_Shiptrack_Block</class>
	  </shiptrack>
	</blocks>
	<models>
	  <shiptrack>
		<class>Fcuk_Shiptrack_Model</class>
		<resourceModel>shiptrack_mysql4</resourceModel>
	  </shiptrack>
	  <shiptrack_mysql4>
		<class>Fcuk_Shiptrack_Model_Mysql4</class>
		<entities>		  
			  <shipment>
				<table>shiptrack</table>
			  </shipment>
        </entities>
	  </shiptrack_mysql4>
	</models>
	<resources>
	  <shiptrack_setup>
		<setup>
		  <module>Fcuk_Shiptrack</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </shiptrack_setup>
	  <shiptrack_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </shiptrack_write>
	  <shiptrack_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </shiptrack_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <shiptrack>
	    <use>admin</use>
		<args>
		  <module>Fcuk_Shiptrack</module>
		  <frontName>shiptrack</frontName>
		</args>
	  </shiptrack>
	  <adminhtml>
                <args>
                    <modules>
                        <Fcuk_Shiptrack before="Mage_Adminhtml">Fcuk_Shiptrack_Adminhtml</Fcuk_Shiptrack>
                    </modules>
                </args>
     </adminhtml>
	</routers>
  </admin>

  <adminhtml>
	<menu>
	  <shiptrack module="shiptrack">
		<title>Shipment Tracking</title>
		<sort_order>100</sort_order>
		<children>
		  <shipment module="shiptrack">
		    <title>Manage Shipment</title>
			<sort_order>0</sort_order>
			<action>shiptrack/adminhtml_shipment</action>
		  </shipment>
		</children>
	  </shiptrack>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<shiptrack translate="title" module="shiptrack">
			  <title>Shiptrack</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <shipment translate="title">
			<title>Manage Shipment</title>
			<sort_order>0</sort_order>
		  </shipment>
			  </children>
			</shiptrack>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<shiptrack>
		  <file>shiptrack.xml</file>
		</shiptrack>
	  </updates>
	</layout>
  </adminhtml>
</config> 