<?xml version="1.0"?>
<config>
    <modules>
        <Fcuk_Outwardproduct>
            <version>0.1.0</version>
        </Fcuk_Outwardproduct>
    </modules>
    <frontend>
        <routers>
            <outwardproduct>
                <use>standard</use>
                <args>
                    <module>Fcuk_Outwardproduct</module>
                    <frontName>outwardproduct</frontName>
                </args>
            </outwardproduct>
        </routers>
        <layout>
            <updates>
                <outwardproduct>
                    <file>outwardproduct.xml</file>
                </outwardproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<outwardproduct>
				<use>admin</use>
				<args>
					<module>Fcuk_Outwardproduct</module>
					<frontName>outwardproduct</frontName>
				</args>
			</outwardproduct>
        </routers>
    </admin>
    <adminhtml>
		<!--menu>
			<outwardproduct module="outwardproduct">
				<title>Outwardproduct</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="outwardproduct">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>outwardproduct/adminhtml_outwardproduct</action>
					</items>
				</children>
			</outwardproduct>
		</menu-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Fcuk_Outwardproduct>
							<title>Outwardproduct Module</title>
							<sort_order>10</sort_order>
						</Fcuk_Outwardproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<outwardproduct>
					<file>outwardproduct.xml</file>
				</outwardproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <outwardproduct>
                <class>Fcuk_Outwardproduct_Model</class>
                <resourceModel>outwardproduct_mysql4</resourceModel>
            </outwardproduct>
            <outwardproduct_mysql4>
                <class>Fcuk_Outwardproduct_Model_Mysql4</class>
                <entities>
                    <outwardproduct>
                        <table>outwardproduct</table>
                    </outwardproduct>
                </entities>
            </outwardproduct_mysql4>
        </models>
        <resources>
            <outwardproduct_setup>
                <setup>
                    <module>Fcuk_Outwardproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </outwardproduct_setup>
            <outwardproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </outwardproduct_write>
            <outwardproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </outwardproduct_read>
        </resources>
        <blocks>
            <outwardproduct>
                <class>Fcuk_Outwardproduct_Block</class>
            </outwardproduct>
        </blocks>
        <helpers>
            <outwardproduct>
                <class>Fcuk_Outwardproduct_Helper</class>
            </outwardproduct>
        </helpers>
    </global>
</config>