<?xml version="1.0"?>
<config>
    <modules>
        <Fcuk_Inwardproduct>
            <version>0.1.0</version>
        </Fcuk_Inwardproduct>
    </modules>
    <frontend>
        <routers>
            <inwardproduct>
                <use>standard</use>
                <args>
                    <module>Fcuk_Inwardproduct</module>
                    <frontName>inwardproduct</frontName>
                </args>
            </inwardproduct>
        </routers>
        <layout>
            <updates>
                <inwardproduct>
                    <file>inwardproduct.xml</file>
                </inwardproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<inwardproduct>
				<use>admin</use>
				<args>
					<module>Fcuk_Inwardproduct</module>
					<frontName>inwardproduct</frontName>
				</args>
			</inwardproduct>
        </routers>
    </admin>
    <adminhtml>
		<!--menu>
			<inwardproduct module="inwardproduct">
				<title>Inwardproduct</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="inwardproduct">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>inwardproduct/adminhtml_inwardproduct</action>
					</items>
				</children>
			</inwardproduct>
		</menu-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Fcuk_Inwardproduct>
							<title>Inwardproduct Module</title>
							<sort_order>10</sort_order>
						</Fcuk_Inwardproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<inwardproduct>
					<file>inwardproduct.xml</file>
				</inwardproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <inwardproduct>
                <class>Fcuk_Inwardproduct_Model</class>
                <resourceModel>inwardproduct_mysql4</resourceModel>
            </inwardproduct>
            <inwardproduct_mysql4>
                <class>Fcuk_Inwardproduct_Model_Mysql4</class>
                <entities>
                    <inwardproduct>
                        <table>inwardproduct</table>
                    </inwardproduct>
                </entities>
            </inwardproduct_mysql4>
        </models>
        <resources>
            <inwardproduct_setup>
                <setup>
                    <module>Fcuk_Inwardproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inwardproduct_setup>
            <inwardproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inwardproduct_write>
            <inwardproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inwardproduct_read>
        </resources>
        <blocks>
            <inwardproduct>
                <class>Fcuk_Inwardproduct_Block</class>
            </inwardproduct>
        </blocks>
        <helpers>
            <inwardproduct>
                <class>Fcuk_Inwardproduct_Helper</class>
            </inwardproduct>
        </helpers>
    </global>
</config>