<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Preorder>
      <version>0.1.0</version>
    </Iksula_Preorder>
  </modules>
  <frontend>
    <routers>
      <preorder>
        <use>standard</use>
          <args>
            <module>Iksula_Preorder</module>
            <frontName>preorder</frontName>
          </args>
      </preorder>
    </routers>
		<layout>
		  <updates>
			<preorder>
			  <file>preorder.xml</file>
			</preorder>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <preorder>
        <class>Iksula_Preorder_Helper</class>
      </preorder>
    </helpers>
	<blocks>
	  <preorder>
		<class>Iksula_Preorder_Block</class>
	  </preorder>
	</blocks>
	<models>
	  <preorder>
		<class>Iksula_Preorder_Model</class>
		<resourceModel>preorder_mysql4</resourceModel>
	  </preorder>
	  <preorder_mysql4>
		<class>Iksula_Preorder_Model_Mysql4</class>
		<entities>		  
			  <preorder>
				<table>preorder</table>
			  </preorder>
        </entities>
	  </preorder_mysql4>
	</models>
	<resources>
	  <preorder_setup>
		<setup>
		  <module>Iksula_Preorder</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </preorder_setup>
	  <preorder_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </preorder_write>
	  <preorder_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </preorder_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <preorder>
	    <use>admin</use>
		<args>
		  <module>Iksula_Preorder</module>
		  <frontName>preorder</frontName>
		</args>
	  </preorder>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <preorder module="preorder">
		<title>Preorder</title>
		<sort_order>100</sort_order>
		<children>
		  <preorder module="preorder">
		    <title>Manage Preorder</title>
			<sort_order>0</sort_order>
			<action>preorder/adminhtml_preorder</action>
		  </preorder>
		</children>
	  </preorder>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<preorder translate="title" module="preorder">
			  <title>Preorder</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <preorder translate="title">
			<title>Manage Preorder</title>
			<sort_order>0</sort_order>
		  </preorder>
			  </children>
			</preorder>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<preorder>
		  <file>preorder.xml</file>
		</preorder>
	  </updates>
	</layout>
  </adminhtml>
</config> 