<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Customertelephone>
      <version>0.1.0</version>
    </Iksula_Customertelephone>
  </modules>
  <global>
    <helpers>
      <customertelephone>
        <class>Iksula_Customertelephone_Helper</class>
      </customertelephone>
    </helpers>
	<models>
	  <customertelephone>
		<class>Iksula_Customertelephone_Model</class>
		<resourceModel>customertelephone_mysql4</resourceModel>
	  </customertelephone>
	</models>
	<resources>
	  <customerattribute1363774544_setup>
		<setup>
		  <module>Iksula_Customertelephone</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1363774544_setup>
	  <customerattribute1363774544_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1363774544_write>
	  <customerattribute1363774544_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1363774544_read>
	</resources>
  </global>
</config> 