/* RK CSS */
.cms-home{overflow-x:hidden;}
/* Font Embedding */
@font-face{
font-family:"HelveticaNeueW01-45Ligh";
src:url("../fonts/hel_light/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
src:url("../fonts/hel_light/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url("../fonts/hel_light/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("../fonts/hel_light/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("../fonts/hel_light/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}

@font-face{
font-family:"HelveticaNeueW01-55Roma";
src:url("../fonts/hel_roman/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
src:url("../fonts/hel_roman/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"),url("../fonts/hel_roman/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url("../fonts/hel_roman/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url("../fonts/hel_roman/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}

@font-face{
font-family:"HelveticaNeueW01-65Medi";
src:url("../fonts/hel_medium/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
src:url("../fonts/hel_medium/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"),url("../fonts/hel_medium/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),url("../fonts/hel_medium/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),url("../fonts/hel_medium/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}

@font-face{
font-family:"HelveticaNeueW01-95Blac";
src:url("../fonts/hel_black/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?#iefix");
src:url("../fonts/hel_black/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?#iefix") format("eot"),url("../fonts/hel_black/74649485-cd74-443e-9d54-331ccd448900.woff") format("woff"),url("../fonts/hel_black/feb77f4f-9e6b-4f88-909a-66199fd402ed.ttf") format("truetype"),url("../fonts/hel_black/2e490192-e531-4236-9c55-90daaad4a34e.svg#2e490192-e531-4236-9c55-90daaad4a34e") format("svg");
}

@font-face {
    font-family: 'SuperGroteskWeb-Medium'; /*a name to be used later*/
    src: url('../fonts/SuperGroteskComp-Medium.ttf'); /*URL to font*/
}
/*@media all and (max-width: 1286px) {
  .catalog-category-view div.main-container {
    width: 97%;
margin: 0 auto;
  }
}*/

/* Navigation CSS */
#custommenu { border-bottom: 1px solid #EAEAEA;text-align: center;background:#fff; }
div.menu { margin: 0px;}

/* BreadCrums CSS */
.breadcrumbs ul li { background: url('../images/arrow_right_small_black.gif') no-repeat center right; padding: 0 1px; font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif; font-size: 11px; letter-spacing: 0px; } 
.breadcrumbs ul li.product { color: #000; }

/* Right Column */
.checkout-cart-index .main .col-right { border: none; padding: 0px; margin-top: 40px; width: 180px; padding-left: 20px; border-left: 1px solid #eceaea; }
.checkout-cart-index .main .col-right .crosssell h2{ border: none; }
.checkout-cart-index .main .cart { width: 615px; margin-top: 30px; }
.checkout-cart-index .main #news-flash  { width: inherit; }
.checkout-cart-index .main .page-title h1 { margin: 0 0 20px; color: #333; text-transform: uppercase; font-size: 24px; font-weight: bold; }
.checkout-cart-index .main table { border: solid 1px #eceaea; border-collapse: inherit;}
.checkout-cart-index .main #shopping-cart-table.data-table thead { background: #f0efef; border: solid 1px #eceaea; margin-top: 5px; }
.checkout-cart-index .main #shopping-cart-table.data-table thead tr th { padding: 10px 0; }
.checkout-cart-index .main #shopping-cart-table.data-table tbody tr td { border-right: 1px solid #eceaea; border-bottom: 1px solid #eceaea; }
.checkout-cart-index .main #shopping-cart-table.data-table tbody tr td.last { border-right:none; }
.checkout-cart-index .totals { width: 100% !important; }
.checkout-cart-index .totals .contshopArea { clear: both; }
.checkout-cart-index .totals #shopping-cart-totals-table { background-color: #f0efef; float: right; width: 266px; padding: 10px 0; margin-top: 10px; }
.checkout-cart-index  .cart .totals table td { padding: 2px 8px; }
.checkout-cart-index .removebtn { margin-top: 7px; }
.checkout-cart-index #shopping-cart-table.data-table button.button, #shopping-cart-table.data-table a { color: #666; font-size: 11px; margin-top: 5px; text-decoration: underline; font-weight: normal;  }
.checkout-cart-index #shopping-cart-table.data-table button.button:hover, #shopping-cart-table.data-table a:hover { color: #666;  margin-top: 5px; text-decoration: none;  }
.checkout-cart-index .button.btn-continue, .checkout-cart-index .btn-proceed-checkout , .checkout-cart-index .coupon_code_apply{ background: none !important; background-image: none !important; text-decoration: none; text-transform: uppercase; color: #FFF; padding: 10px; font-weight: normal; text-align: center; font-size: 14px; line-height: 30px; margin-bottom: 10px; letter-spacing: 4px; background: #999 !important; float: left; display: inline-block; *display: inline; zoom: 1; width: inherit !important; height: inherit !important;*height:50px;*width:230px; }
.checkout-cart-index .contshopArea ul.checkout-types img{clear:both; display: block}
.checkout-cart-index .coupon_code_apply { padding: 10px 20px; float:right; width: auto !important; }
.checkout-cart-index .apply_coupon_code { height: inherit !important; }
.checkout-cart-index .discount-form { float: left; background: #f0efef; margin: 25px 0; padding-bottom: 20px;  }
.checkout-cart-index .couponTitle { background: #f0efef; padding: 20px; color: #333; font-size: 22px; font-weight: bold; width: 575px !important; border-bottom: none; }
.checkout-cart-index .coupon-area { display: block; padding:0 20px 10px 20px; color: #333; line-height: 30px; float: left; width: 575px;}
.checkout-cart-index .pramotionalcode { width: 293px; border: 1px solid #999; margin: 0; padding: 8px; float: right; }
#helpMenu { background: #f0efef; padding: 20px 15px; }
#helpMenu h2 { border-bottom: 1px solid #bbb; margin: 0 0 10px; padding: 0 0 10px 0; font-weight: normal; letter-spacing: 5px; font-size: 14px; color: #666666; text-transform: uppercase; line-height: 1; }
#helpMenu ul { list-style: none outside none; padding: 0; margin: 0;  }

/* Produc Zoom CSS */
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer { float: left!important; /*width: 530px !important; border:1px solid #F0F0F0; */}
.MagicZoomBigImageCont { border: none !important; }
.MagicZoomBigImageCont img { z-index: 1000; }

.MagicScroll, .MagicScroll.msborder .MagicScrollItem  { border: none !important; background: none !important;  }
.MagicScroll .MagicScrollArrowBottom { background: url('../images/magiczoomslider/btn_arrow_down.png') no-repeat center !important;}
.MagicScroll .MagicScrollArrowTop { background: url('../images/magiczoomslider/btn_arrow_up.png') no-repeat center !important;}
.MagicScrollContainer { z-index: 10000 !important; background-color: #fff !important; }
.MagicToolboxSelectorsContainer { margin-top: 220px; }
.product-view .product-img-box { padding-top: 0px;}
.col1-layout .product-view .product-shop { top: 0px !important; }

.catalog-product-view .breadcrumbs, .catalog-product-view .main { margin: 0px auto; }
.backtohome { line-height: 8px; top: -21px; }
.catalog-product-view .price-box .price, .quickshop-index-view .price-box .price { font-size: 1.6em; font-weight: normal; color: #6D6D6D; padding:0 15px 0 0; }
.catalog-product-view .old-price .price, .quickshop-index-view .old-price .price  { color: red; }

.product_name h1, .quickshop-index-view a h3 { margin: 0; font-size: 1.5em; font-weight: bold; color: #2F3130; text-transform: none; padding: 5px 0; }
.catalog-product-view .size-guide1 { width:50%; margin-right: 5%; float: left; }
.catalog-product-view .size-guide2 { width:30%; float: left; }
.catalog-product-view .product-options p.required { clear: both; padding: 5px 50px 0 0; }

.catalog-product-view .add-to-cart, .quickview-details-area .add-to-cart{ /*width: 195px;*/ background: #2f3130 !important; padding: 0 22px !important; border: none; text-transform: uppercase; text-decoration: none !important; color: #fff !important; display: inline-block; -moz-transition: opacity .4s, background-color .4s, text-shadow .4s; -webkit-transition: opacity .4s, background-color .4s, text-shadow .4s; -o-transition: opacity .4s, background-color .4s, text-shadow .4s; -ms-transition: opacity .4s, background-color .4s, text-shadow .4s; transition: opacity .4s, background-color .4s, text-shadow .4s; letter-spacing: 0; -moz-font-stretch: condensed; -webkit-font-stretch: condensed; -o-font-stretch: condensed; -ms-font-stretch: condensed; font-stretch: condensed; height: 43px; line-height: 43px; font-size: 18px; margin-left: 0px !important; text-decoration: none; cursor: pointer; text-transform: lowercase;}
.quickview-details-area .add-to-cart{float: left !important;}
.checkout-cart-index .btn-proceed-checkout { background:#333 !important; }
.catalog-product-view .btn-cart-adding,.quickview-details-area .btn-cart-adding{
	background-color: #cdcecd !important;
	text-shadow: 0 -1px #fff;
	color: #a5a6a5 !important;
	cursor: not-allowed !important;
}

.catalog-product-view .add-to-cart span, .add-to-cart span span { padding: 0px !important; font-weight: normal !important; font-size: 18px; } 
.catalog-product-view .add-to-cart:hover { opacity: .85; }
.catalog-product-view .btn-cart-adding{ text-shadow: 0 -1px #fff !important; -webkit-text-shadow: 0 -1px #fff !important; color: #a5a6a5 !important; cursor: not-allowed !important; background-color: #cdcecd !important; }


#product_store_stock_lookup { padding: 15px 0 0 0; }
#product_store_stock_lookup h2 { letter-spacing: 4px; display: block; text-transform: uppercase; font-weight: normal; font-size: 10px; color: #999999; margin: 0; padding: 5px 0 5px 0; }
#product_store_stock_lookup .btn-sm { height: 27px; font-size: 14px; line-height: 27px; background-color: #cdcecd !important; }

.cms-home .std p { margin: 0px; }

/* Upsell Products CSs  */
.product-collateral .box-collateral { margin: 15px 0 15px; }
.product-collateral .box-collateral h2 { margin-bottom: 10px; }
h2 { color: #2F3130; display: inline-block; font-weight: bold; font-size: 14px; margin: 10px 0px 0; text-transform: uppercase; letter-spacing: 0px; }
.col1-layout .products-grid { width:340px; border-bottom: none; }

/* Product Page Accordion CSS */
.loading { display: none; }
.accordion { border-bottom: 1px dotted #333; width: 100%; margin: 25px 0; }
.accordion li h3 a { border-top: 1px dotted #333; letter-spacing: 4px; cursor: pointer; display: block; text-transform: uppercase; font-weight: normal; font-size: 12px; color: #999999; margin: 0; padding: 5px 0 5px 0; text-decoration: none !important; }
.accordion li h3 a, .accordion li.active h3 a { letter-spacing: 1px; cursor: pointer; display: block; text-transform: uppercase; font-weight: normal; font-size: 12px; color: #090909; margin: 0; padding: 5px 0 5px 0; font-family: "SuperGroteskWeb-Medium", "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif; text-rendering: optimizeLegibility; } 
.accordion li h3 { }
.accordion .panel { color: #666; padding: 15px 0; }

/*#myElement { position: absolute; z-index: 10; }*/
#video-close {
position: absolute;
top: 20px;
right: 20px;
z-index: 11;
}

#video-close .skip {
cursor: pointer;
text-align: center;
}

#video-close .skip img {
	margin-bottom: 10px;
	display: block;
}

.no-svg_image {
	display: none;
}

#social .social_content_inner_item { margin: 20px 0 20px 0; padding: 20px 0 0 0; font-size: 10px; border-top: 1px solid #CCCCCC; }
.social_content_inner_item_link { background-size: 200px 283px; background-image: url(../images/kishan/fc_social_icons_new.svg); background-position: -7px -53px; display: block; width: 25px; height: 25px; margin: 5px auto; text-align: center; }

.quickshop-index-view .quickshop-main { width: 860px !important; float:left; }
.quickshop-main div.MagicToolboxContainer { width: 500px !important;float:left;  }
.quickshop-main div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer { width: 400px !important; }
.quickshop-main  div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer { margin-top: 89px !important; }
.quickview-details-area { float: left; width: 300px; margin-left: 30px; }
.quickview-details-area .quickshop-index-view .quickview-qty-price { border: none !important; padding: 0 !important; }
.quickview-details-area .addtocart { text-indent: inherit; width: auto; float:left !important; margin: 15px 0 0 0; }
.quickshop-index-view .price-box { margin: 0px; padding: 0px !important;  }
.quickshop-index-view .quickshop-main .noexchage { margin: 0px 0 15px 0 ;  padding: 0px; } 
.quickshop-index-view .size-guide1 { width:95%; margin:0 5% 5px 0; float: left; }
.quickshop-index-view .size-guide2 { width:95%; margin:0 5% 15px 0; float: left; }
.quickshop-index-view .size-guide1 select,.quickshop-index-view .size-guide2 select { width: 100%; }
/*.inputfiled-area { width: 250px; height: 16px; padding:10px 5px 10px 10px; background: #fff; color: #ccc; font-size: 13px; position: relative; text-align:left; }*/
/*.inputfiled-area input[type="text"]{ background: none; border: none; display: block; width: 250px; height: 16px; color: #666; position: absolute; top:10px;  }*/
.inputfiled-area { width: 260px; height: 36px; /*padding: 0 5px 0 10px;*/ margin-bottom: 29px; background: #fff; color: #ccc; font-size: 13px; position: relative; text-align: left; line-height: 36px; text-indent: 10px; }
.inputfiled-area input[type="text"]{ background: none; border: none; display: block; width: 250px; height: 30px; color: #666; position: absolute; top: 0px;  text-indent: 10px }
.inputfiled-area .validation-advice { position: absolute; top: 41px; }

.quickshop-index-view .product_description { /*margin: 15px 0 0 0;*/ text-align: left; border-bottom: 1px dotted #333; padding: 15px 0 15px 0; }
.quickshop-index-view .product_description h4 { border-top: 1px dotted #333; letter-spacing: 0px; cursor: pointer; display: block; text-transform: uppercase; font-size: 1.1em; color: #2F3130; margin: 0; padding: 5px 0 5px 0; text-decoration: none !important; font-weight: bold; }
.quickview-full-details { margin: 10px 0 0 0; cursor: pointer; display: block; text-transform: uppercase; font-weight: bold; font-size: 1.1em; color: #2F3130; padding: 5px 0 5px 0; text-align: left; }

.catalog-category-view .category-description { height: auto; text-align: center; padding:0px !important; margin: 0px; background: #fff; color: #000000; display: block !important; top: 0px; opacity:1 !important; float: left; width: 100% !important; position: relative; !important; }
#category_banner_top { background-image: url(../images/tile.png); background-repeat: repeat-x; width: 100%; height: 15px; float: left; background-position: 0 4px; margin-bottom: 25px; }
#category_banner_top_left { background-image: url(../images/sketch_banner_top_left_corner.png); height: 30px; width: 78px; float: left; }
#category_banner_top_right { background-image: url(../images/sketch_banner_bottom_right_corner.png); height: 30px; width: 96px; float: right; background-position: 0 -1px; }
.salecolor #category_banner_top{background-image: url(../images/tile_red.png);}
.salecolor{color:#c2162a !important;}
.salecolor #category_banner_top_left{background-image: url(../images/sketch_banner_top_left_corner_red.png);}
.salecolor #category_banner_top_right{background-image: url(../images/sketch_banner_bottom_right_corner_red.png);}
.banner_bottom { margin: 15px 0 0 0 ;}
#category_banner h1 { letter-spacing: 1px; text-transform: uppercase; color: #0C0D0C; margin: 0; font-family: "SuperGroteskWeb-Medium", "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif; display: block; background: #FFFFFF; padding: 10px 20px 5px 20px; font-size: 26px; }
.salecolor h1#category_banner{color:#c2162a !important;}
.breadcrumbs { margin: 5px 0 0px !important; min-height: 20px; width: auto; float: none;}
.catalog-category-view .sidebarmarg-top .block-layered-nav { margin-top: 198px !important ; }
.marg-top { margin-top: 10px !important ; }
.catalog-product-view #blanket { position: fixed; }
.size_guide { display: block; text-decoration: none; color: #666666; background: #F1EFF0; width: 97px; text-align: center; padding: 2px 0px 2px 0px; font-size: 10px; letter-spacing: 3px; font-weight: normal; text-transform: uppercase; background-image: no-repeat; text-indent: 1px; cursor: pointer; float: right; margin: 5px 50px 5px 0 ;  }
.catalog-category-view .product-options p.required { padding: 5px 50px 0 0;}
.catalog-category-view .category_more_colours, .catalogsearch-result-index .category_more_colours{padding-top: 0;}
/*-=--==Top menu ===--=-*/
div.menu{float: inherit !important; display: inline-block; *display: inline; zoom:1;*position:relative;*left:300px;}
div.wp-custom-menu-popup{display: inline-block;*display: inline;zoom:1;}

.catalogsearch-result-index .main .category-products { width: 744px; }
.catalog-product-view .old-price .price  { right: 0px; }

.sub-categories ul { margin: 0px; padding: 0px; width: 80%; margin-left: 10%;}
.sub-categories ul li { margin: 0px; padding: 0px; width: 33%; list-style: none; float: left; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; line-height: 18px;}
.sub-categories ul li a { display: block;text-decoration: none;color: #999;padding: 3px 10px 3px 10px;text-transform: capitalize;font-size:1em;}
.sub-categories ul li a:hover { display: block; color: #000;  }

.catalog-category-view .sidebar .block-layered-nav, .catalogsearch-result-index .block-layered-nav {	margin-top: 5px !important; float: left; padding: 0 0 0 15px; clear: both; width: 218px; }


.category-mid-season-sale h1#category_banner{ background: #666666; color:#ffffff;padding: 10px 20px 35px 20px;}
.category-mid-season-sale #category_banner_top {background: none;}
.category-mid-season-sale #category_banner_top_right {background: none;}
.category-mid-season-sale #category_banner_top_left {background: none;}
#category_banner p {font-size: 12px;color: #666;line-height: 18px;letter-spacing: 0px;font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;margin:0 }

/************************* Category Page **************************/
.catalogsearch-result-index .col2-left-layout div.col-main, .catalog-category-view .col2-left-layout div.col-main { width: 100%; float: none; }
.catalogsearch-result-index .main-container .main .col-left, .catalog-category-view .main-container .main .col-left { width:230px;display: block; position: absolute; left: 0px; background-color: #eee;    background: rgba(238,238,238,0.9); opacity: 0.9; top:160px;}
.col2-left-layout .products-grid { width: 100%; }
/*.products-grid li.item { width: 32.66%; padding: 0; margin: 0 0.33% 10px 0.34%; background: #f4f4f4; }*/
.products-grid li.item { width: 31%; padding: 0; margin: 0 0.83% 15px 0.84%; background: #f4f4f4; }
.products-grid li.item.last { width: 31%; padding: 0; margin: 0 0.83% 15px 0.84%; }
.products-grid li.item.first { clear: both;  }
.products-grid .product-image { padding: 0; margin: 0;}
.products-grid .product-image img { width: 100% !important; }
/*.catalog-category-view .item .actions { bottom: 545px; margin-top: 0px; }*/
.catalog-category-view .actions .quick-btn { margin-top: 0px; }
a.quick_view { top: 0; right: 15px; }
.category_product_rollover_container { background-color: #fff; background: rgba(255,255,255,0.85); position: absolute; bottom: 0px; padding: 0 0 5px 6px; width: 98%; color: #333; opacity: 0.9; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; min-height: 83px; -webkit-backface-visibility: hidden; left: 0; text-decoration: none !important; }
#category_banner_inner { padding: 0 50px 0 50px; text-align: center; max-width: 850px; margin: auto; }
#faceted_search_container{width: 230px; display: inline; float: left; position: absolute; top: 130px; left: 0px; min-height: 1px; display: block; z-index: 1; background-color: #eee; background-color: rgba(238,238,238,0.9); font-size: 1.4em; }
#category_banner_inner .description { margin: 0; padding: 0 110px 10px 110px; width: auto; font-size: 12px; color: #666; line-height: 18px; letter-spacing: 0px; font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif; }
#faceted_search_menuToggle { display: block; background: transparent; color: #666666; letter-spacing: 3px; font-weight: bold; line-height: 30px; height: 30px; text-align: center; padding: 0px 10px 0px 10px; cursor: pointer; background-image: url(../images/btn_menu_plus.png); font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif; background-repeat: no-repeat; background-position: 90% 50%; text-transform: uppercase; font-size: 0.65em; margin: 0px 0 0px 0; width: 230px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: #eee; background-color: rgba(238,238,238,0.9); -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; width: 231px\0/; }
.activeDiv { background-image: url(../images/btn_menu_minus.png) !important; background-repeat: no-repeat;
background-position: 90% 50%; }

/* Anuj CSS */
.category_product_rollover_container { text-align: left; font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif; padding: 10px 0 0 2%; font-size: 10px; text-transform: uppercase; display: !important }
.category_product_rollover_container .product-name { color: #333; font-size: 10px; text-transform: uppercase; padding: 0; text-align: left; margin-bottom: 0;}
.catalog-category-view .old-price {left: 0;}
.category_product_rollover_container .old-price { color: #333; float: left; }
.category_product_rollover_container .special-price { color: #f00; float: left; margin: 0 12px; }
.products-grid .product-name { font-weight: normal;}
.products-grid .price-box { font-weight: normal; padding: 2px 0 0 0; font-size: 10px; letter-spacing: 1px; overflow: hidden; }
.old-price .price, .special-price .price  { font-weight: normal;}
.category_product_rollover_colours { padding: 5px 70px 0px 0;}
.category_product_rollover_colours_title { padding: 0px 0 5px 0px; text-transform: lowercase; color: #999; letter-spacing: 1px; line-height: 1.4; font-size: 1.1em; display: block; }
.category_product_rollover_cta{position:absolute;bottom:5px;right:10px;display:block;border:1px solid #DDD;padding:5px 0px 5px 0px;text-align:center;text-decoration:none;text-transform:uppercase;letter-spacing:2px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;transition:all 0.2s ease-in;width:50px;font-size:10px;color:#666;line-height:1.3em; font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif; text-decoration: none;}
.products-grid li.item:hover .category_product_rollover_cta { text-decoration: none; }
.category_product_rollover_cta:hover { background: #333; color: #fff; }

.quick-button .quick_view { position: absolute; top: 0; right: 0;}
.quick-btn a.quick_view { background-image: none; position: absolute; top: 7px; right: 2.5%; display: block; border: 1px solid #DDD; text-align: center; text-transform: uppercase; letter-spacing: 2px; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; width: 50px; font-size: 10px; color: #666; text-decoration: none !important; opacity: .8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif; height: auto; padding: 5px 0; background: #fff; }
.quick-btn a.quick_view:hover { background: #333; color: #fff; }

.more-colors-legend { float: left;}
.catalog-category-view .item .actions { margin-top: 0;}
.category_product_rollover_container h2.product-name { padding: 0; color: #333; letter-spacing: 1px; width: 100%; }
/*.products-grid li.item:hover, .products-grid li.item:hover a { margin: 3px; }*/
.gallaryimagessize { /*width: 20px !important;*/}
.hide { display: none;}
.col2-left-layout .products-grid { margin: 0;}
.products-grid .product-image .main-product-image { width: 100%; }
.product-options { padding: 0; margin: 0; background-color: transparent; border: none;}
.product-options img { cursor: pointer; }
.col-left.sidebar .toolbar .sorter .sort-by label { display: none; }
.col-left.sidebar .toolbar .sorter .sort-by select { width: 100%; }
.col-left.sidebar .toolbar {margin: 14px 0 15px 15px; float: left; overflow: hidden; width: 221px; padding: 0; }
.col-left.sidebar .toolbar .sorter, .col-left.sidebar .toolbar .sorter .sort-by  { width: 100%;  }
.Category-dd li { color: #989697; line-height: 20px; text-decoration: none; font-size: 12px; font-weight: normal; letter-spacing: 1px; }
.Color-dd li { width: 43%; float: left; height: 15px; margin: 2px 7% 2px 0; overflow: hidden; font-size: 0.95em; }
.Color-dd li a { width: 50%; font-size: 1em; font-weight: normal; letter-spacing: 1px; padding: 2px 0; }
.Size-dd .amshopby-attr { background: url(../images/checkbox_off.png) no-repeat 0 0; padding-left: 16px; }
#amshopby-price-from, #amshopby-price-to { margin: 5px 0 0; }
.catalog-category-view .stock-container, .outof-stock-container, .request-product { left: 5px !important; }
#product-options-wrapper img { border: 1px solid #aaa;}
a:hover.category_product_link div, a:hover.category_product_link img { text-decoration: none !important; border: 0 }

#subNav ul li ul li a:hover { color: #666666; }

/*Contact Us*/
.subNav{font-size:12px !important;}
.subnav_title{color: #2F3130;font-size: 1.2em;text-transform: uppercase;font-weight:bold}
.subnav_title1{font-weight: bold;text-transform: uppercase;color: #999999;padding: 0px 0px 0px 0px;text-decoration: none;display: block;letter-spacing: 1px;font-weight: normal;}
.subnav_title_divide{border-top: 1px solid #DDDDDD;margin: 5px 0 10px;width: 120px;}
.grid_6 ul .open ul li{padding: 0 0 0 15px;margin: 10px 0 10px 10px !important;}
.grid_6 ul .open ul li a{text-decoration:none;color:#666666;}
.grid_6 ul .open ul li a:hover{text-decoration:none;color: #2F3130 !important;}
.cms-page-view .sidebar nav#subNav ul li a:hover{color: #2F3130 !important;}
.grid_6{border-right: 1px solid #DDDDDD;margin-right: 29px;min-height: 300px;width: 211px;}
.grid_12 { padding-top:20px; }

/*about us*/
.cms-about-fcuk-india .wrapper .header-bg .header-bg-1 .page .main-container .main .col-main { position: relative;}
.fcuk-about-text { top:150px; }

/*bug fix */
.breadcrumbs { padding-left: 10px !important; }

/*newsletter aboutyou */
.cms-about-you .main { width: 980px !important; padding-top: 20px; }
.cms-about-you .main .breadcrumbs { display: none; }
.cms-about-you .main .col-main { width: 100% !important; }
.cms-about-you .main .col-main .block-subscribe { width: 49%; background-color: #F0EFEF; float: left; display: inline-block; *display: inline; zoom:1;}
.cms-about-you .main .col-main .block-subscribe form .block-content { padding: 20px;}
.cms-about-you .main .col-main .block-subscribe form .block-content table { font-family:"HelveticaNeueW01-55Roma", Arial, sans-serif; color: #666; }
.cms-about-you .main .col-main .block-subscribe form .block-content table tr td{ padding: 7px 0 ;}
.cms-about-you .main .col-main .block-subscribe form .block-content table tr td.subs_label{ width: 110px;}
.cms-about-you .main .col-main .block-subscribe form .block-content table tr td.form_note{ font-style: italic; font-size: .9em;}
.cms-about-you .main .col-main .block-subscribe form .block-content input[type="text"] {width:190px; border:1px solid #999; border-radius:0; padding:3px 5px; float:none; color:#222; height: 14px; background-color: #fff; } 
.cms-about-you .main .col-main .block-subscribe form .block-content input[type="text"]:focus { outline-offset: -2px; outline: -webkit-focus-ring-color auto 5px;}
.cms-about-you .main .col-main .block-subscribe form .block-content button { border: 1px solid #000; padding: 5px 10px; font-family: HelveticaNeueW01-75Bold, Arial, sans-serif; font-size: 16px; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
.cms-about-you .main .col-main .block-subscribe form .block-content button:hover { background-color: #999;}
.cms-about-you .main .col-main .block-subscribe .inputfiled-area { background-color: transparent; height: 26px; }

.delivery_message { display: block; position: absolute; bottom: 0; top: auto; left:0px; height: 0px; width:100%; }
.delivery_message a{ display: block;
text-align: center;
width: 100%;
padding: 5px 0 5px 0;
background: #DDD;
color: #666;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 11px;
text-decoration: none;
line-height: 20px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
/*font-family: "SuperGroteskWeb-Medium", "HelveticaNeueW01-67MdCn 692710", Arial, sans-serif;*/
text-rendering: optimizeLegibility; }
.clearBoth{ margin:0; padding: 0; height: 0;}
div.wp-custom-menu-popup { padding: 0px 12px;}
div.main_category_block { height: inherit; margin-bottom: -4px; }
#custommenu div.wp-custom-menu-popup { min-height: 0; }
.main-navigation { margin-bottom: -5px; }
.page .main-navigation { height: 37px; }
.wp-custom-menu-popup {position: relative;}
.main-navigation {overflow: hidden;}
.menu-prod .image_menu_label { position: absolute; bottom: 0; float: left; width: 190px; font-family: "HelveticaNeueW01-75Bold", Arial, sans-serif; padding:5px; letter-spacing: 0px; text-transform: lowercase; background-color: #fff; opacity: .9; filter:alpha(opacity=90); color: #111; text-align: center; font-size: 11px; }
.menu-prod:hover .image_menu_label { color: #999;}
.breadcrumbs ul li span { color: #A0A2A1;}
.breadcrumbs ul li { color: #A0A2A1;}
.page .main-navigation { border-bottom: 1px solid #ddd;}
.catalog-category-view .breadcrumbs { float: left;}
.catalog-category-view .back_to_category { float: right; padding-right: 10px; margin: 5px 0 0; min-height: 20px; }
.catalog-category-view .back_to_category a{ color: #A0A2A1; font-size: 11px; font-weight: normal; padding-left: 4px; text-align: right; text-decoration: none; text-transform: none; line-height: 20px; }
.catalog-category-view .back_to_category a:hover { color: #000;}
.catalog-category-view .back_to_category img { vertical-align: middle;}

/*newsletter page*/
.news_img {float: right;}
.subscrb-button span span{color: #000;}

/*Layer Navigation*/
.Category-dd .sub-cat-level { font-size: 1.1em;  height: 15px; }
.cms-press-home .main-container .main .col-main{ float: none; margin: 0 auto; }
.MagicToolboxSelectorsContainer a img { /*width: 70px;*/ }
.MagicToolboxSelectorsContainer { width: 70px; margin-left: 13px;}

/* post migration fix */
li.item .category_product_rollover_container { display: none;}
li.item .quick-btn a{ display: none;}
li.item .actions { display: none;}
*body { height: inherit;}